body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    color: #000;
    background: url("images/noche.jpg") center/cover no-repeat;
  }
.perfil {
    background-color: #ffffff;
    color: #000;
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 20px;
    margin: 200px;
  }
  .show{
    pointer-events: auto;
    opacity: 1;
  }
  .perfil-header {
    background-color: #f39a1f;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    border-radius: 0.375rem 0.375rem 0 0;
  }
  
  .datos_personales,
  .datos_cuenta {
    margin-top: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 5px;
    color: #000;
  }
  
  .input-label {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
.radio {
    padding: 15px;
    display: flex;
}
.inicio {
    background-color: #f39a1f;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 0.375rem;
    cursor: pointer;
    text-decoration:none
}
.owner, .user {
    margin-right: 20px;
}

.owner input, .user input {
    display: none;
}

.owner label, .user label {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #f39a1f; 
    color: #f39a1f; 
    border-radius: 5px;
}

.owner input:checked + label, .user input:checked + label {
    background-color: #f39a1f;
    color: #fff;
}

.login-btn {
    border: none;
    outline: none;
    background: #f39a1f;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    padding: 10px 18px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.15s ease;
}

.login-btn:hover {
    background: #ab680a;
}

.form-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    max-width: 720px;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -70%);
}

.show-popup .form-popup {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease, opacity 0.1s;
}

.form-popup .close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    color: #878484;
    cursor: pointer;
}

.blurOverlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: 0.1s ease;
}

.show-popup .blurOverlay {
    opacity: 1;
    pointer-events: auto;
}

.form-popup .form-box {
    display: flex;
}

.form-box .form-details {
    width: 100%;
    color: #fff;
    max-width: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-box .form-content {
    width: 100%;
    padding: 35px;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 29px;
}

.form-box a {
    color: #f39a1f;
    text-decoration: none;
}

.form-box a:hover {
    text-decoration: underline;
}

form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.input-field input {
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    font-size: 0.95rem;
    padding: 0 15px;
    border: 1px solid #717171;
    border-radius: 3px;
}

.input-field input:focus {
    border: 1px solid #f39a1f;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #4a4646;
    pointer-events: none;
    transition: 0.2s ease;
}

.input-field input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

.input-field input:is(:focus, :valid)~label {
    transform: translateY(-120%);
    color: #f39a1f;
    font-size: 0.75rem;
}

form button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 14px 0;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;
    cursor: pointer;
    margin: 25px 0;
    background: #f39a1f;
    transition: 0.2s ease;
}

form button:hover {
    background: #d28518;
}

.form-content .bottom-link {
    text-align: center;
}

.form-popup .signup,
.form-popup.show-signup .login {
    display: none;
}

.form-popup.show-signup .signup {
    display: flex;
}

@media (max-width: 760px) {
    .form-popup {
        width: 95%;
    }

    .form-box .form-details {
        display: none;
    }

    .form-box .form-content {
        padding: 30px 20px;
    }
}
.radio {
    padding: 15px;
    display: flex;
  }
  .owner, .user {
    margin-right: 20px;
  }
  
  .owner input, .user input {
    display: none;
  }
  
  .owner label, .user label {
    padding: 10px;
    cursor: pointer;
    border: 1px solid #f39a1f; 
    color: #f39a1f; 
    border-radius: 5px;
  }
  
  .owner input:checked + label, .user input:checked + label {
    background-color: #f39a1f;
    color: #fff;
  }